In [43]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [44]:
dados = pd.read_csv('cape_exterior.csv')

# print(dados.head())
dados.columns

Index(['Unnamed: 0', 'index', 'ARTICULADOR PEDAGÓGICO', 'Ano',
       'CAPACITAÇÃO PROFESSORES DA EDUCAÇÃO BÁSICA', 'CÁTEDRA',
       'DOUTORADO PLENO', 'DOUTORADO SANDUÍCHE', 'Doutorado',
       'Doutorado Sanduíche', 'ESCOLA DE ALTOS ESTUDOS', 'ESPECIALIZAÇÃO',
       'ESTÁGIO DOCENTE', 'ESTÁGIO SÊNIOR', 'Especialização', 'Estágio Sênior',
       'GRADUAÇÃO', 'GRADUAÇÃO PLENA', 'GRADUAÇÃO SANDUÍCHE',
       'Graduação Sanduíche', 'MESTRADO', 'MESTRADO PROFISSIONAL',
       'MESTRADO SANDUÍCHE', 'Mestrado', 'Mestrado Sanduíche', 'PIDRH',
       'PROFESSOR/PESQUISADOR VISITANTE', 'País',
       'Professor de Educação Básica', 'PÓS-DOUTORADO', 'Pós Doc',
       'Total Linha'],
      dtype='object')

In [58]:
bolsas_byYear = dados.groupby(['Ano']).sum()

In [81]:
serie_bolsas = bolsas_byYear[['ARTICULADOR PEDAGÓGICO','CAPACITAÇÃO PROFESSORES DA EDUCAÇÃO BÁSICA', 'CÁTEDRA','DOUTORADO PLENO', 'DOUTORADO SANDUÍCHE', 'Doutorado','Doutorado Sanduíche', 'ESCOLA DE ALTOS ESTUDOS', 'ESPECIALIZAÇÃO','ESTÁGIO DOCENTE', 'ESTÁGIO SÊNIOR', 'Especialização', 'Estágio Sênior','GRADUAÇÃO', 'GRADUAÇÃO PLENA', 'GRADUAÇÃO SANDUÍCHE','Graduação Sanduíche', 'MESTRADO', 'MESTRADO PROFISSIONAL','MESTRADO SANDUÍCHE', 'Mestrado', 'Mestrado Sanduíche', 'PIDRH','PROFESSOR/PESQUISADOR VISITANTE','Professor de Educação Básica', 'PÓS-DOUTORADO', 'Pós Doc']]

In [77]:
export_csv = teste.to_csv (r'export_dataframe_extrangeiro.csv', index = None, header=True)

In [75]:
# teste = dados[['Ano','ARTICULADOR PEDAGÓGICO','CAPACITAÇÃO PROFESSORES DA EDUCAÇÃO BÁSICA', 'CÁTEDRA','DOUTORADO PLENO', 'DOUTORADO SANDUÍCHE', 'Doutorado','Doutorado Sanduíche', 'ESCOLA DE ALTOS ESTUDOS', 'ESPECIALIZAÇÃO','ESTÁGIO DOCENTE', 'ESTÁGIO SÊNIOR', 'Especialização', 'Estágio Sênior','GRADUAÇÃO', 'GRADUAÇÃO PLENA', 'GRADUAÇÃO SANDUÍCHE','Graduação Sanduíche', 'MESTRADO', 'MESTRADO PROFISSIONAL','MESTRADO SANDUÍCHE', 'Mestrado', 'Mestrado Sanduíche', 'PIDRH','PROFESSOR/PESQUISADOR VISITANTE','Professor de Educação Básica', 'PÓS-DOUTORADO', 'Pós Doc']]

In [99]:
doutorado = (serie_bolsas['Doutorado']+serie_bolsas['DOUTORADO PLENO']+serie_bolsas['DOUTORADO SANDUÍCHE'] + serie_bolsas['Doutorado Sanduíche']).to_frame()
graduacao = (serie_bolsas['GRADUAÇÃO SANDUÍCHE'] + serie_bolsas['Graduação Sanduíche'] + serie_bolsas['GRADUAÇÃO']+serie_bolsas['GRADUAÇÃO PLENA']).to_frame()
mestrado = (serie_bolsas['MESTRADO PROFISSIONAL']+serie_bolsas['MESTRADO']+serie_bolsas['Mestrado']+serie_bolsas['MESTRADO SANDUÍCHE']+serie_bolsas['Mestrado Sanduíche']).to_frame()
pos_doc = (serie_bolsas['PÓS-DOUTORADO'] + serie_bolsas['Pós Doc']).to_frame()

In [112]:
bolsas_byYear[['ARTICULADOR PEDAGÓGICO','CAPACITAÇÃO PROFESSORES DA EDUCAÇÃO BÁSICA','CÁTEDRA','PIDRH','PROFESSOR/PESQUISADOR VISITANTE','Professor de Educação Básica']]

,ARTICULADOR PEDAGÓGICO,CAPACITAÇÃO PROFESSORES DA EDUCAÇÃO BÁSICA,CÁTEDRA,PIDRH,PROFESSOR/PESQUISADOR VISITANTE,Professor de Educação Básica
Ano,,,,,,
1998,0.0,0.0,0.0,0.0,0.0,0.0
1999,0.0,0.0,0.0,0.0,0.0,0.0
2000,0.0,0.0,0.0,0.0,0.0,0.0
2001,0.0,0.0,0.0,0.0,0.0,0.0
2002,0.0,0.0,0.0,0.0,0.0,0.0
2003,0.0,0.0,0.0,0.0,0.0,0.0
2004,0.0,0.0,0.0,0.0,0.0,0.0
2005,0.0,0.0,0.0,0.0,0.0,0.0
2006,0.0,0.0,0.0,0.0,0.0,0.0
2007,0.0,0.0,0.0,0.0,0.0,0.0
2008,0.0,0.0,0.0,0.0,0.0,0.0
2009,0.0,0.0,0.0,0.0,0.0,0.0
2010,0.0,0.0,0.0,0.0,0.0,0.0
2011,0.0,0.0,0.0,0.0,0.0,0.0
2012,0.0,0.0,0.0,0.0,0.0,645.0
2013,5.0,1106.0,7.0,0.0,0.0,0.0
2014,4.0,82.0,8.0,0.0,22.0,0.0
2015,0.0,35.0,6.0,0.0,11.0,0.0
2016,0.0,73.0,14.0,2.0,0.0,0.0
2017,0.0,74.0,8.0,0.0,1.0,0.0
2018,0.0,0.0,8.0,0.0,415.0,0.0

In [105]:
data = [['doutorado',doutorado],['graduacao',graduacao],['mestrado',mestrado],['pos_doc',pos_doc]]

        Tipo                                         Quantidade
0  doutorado             0
Ano
1998  1480.0
1999  1...
1  graduacao              0
Ano
1998    103.0
1999...
2   mestrado            0
Ano
1998   18.0
1999   10....
3    pos_doc             0
Ano
1998   266.0
1999   ...

In [47]:
serie_bolsas = teste.sum(skipna = True)

In [48]:
serie_bolsas[['ARTICULADOR PEDAGÓGICO','CAPACITAÇÃO PROFESSORES DA EDUCAÇÃO BÁSICA', 'CÁTEDRA','DOUTORADO PLENO', 'Doutorado', 'ESCOLA DE ALTOS ESTUDOS', 'ESPECIALIZAÇÃO','ESTÁGIO DOCENTE', 'ESTÁGIO SÊNIOR', 'Especialização', 'Estágio Sênior','GRADUAÇÃO', 'GRADUAÇÃO PLENA','MESTRADO PROFISSIONAL', 'PIDRH','PROFESSOR/PESQUISADOR VISITANTE','Professor de Educação Básica']]

ARTICULADOR PEDAGÓGICO                            9.0
CAPACITAÇÃO PROFESSORES DA EDUCAÇÃO BÁSICA     1370.0
CÁTEDRA                                          51.0
DOUTORADO PLENO                               11552.0
Doutorado                                     12780.0
ESCOLA DE ALTOS ESTUDOS                           1.0
ESPECIALIZAÇÃO                                  719.0
ESTÁGIO DOCENTE                                 417.0
ESTÁGIO SÊNIOR                                 2622.0
Especialização                                   68.0
Estágio Sênior                                  680.0
GRADUAÇÃO                                         1.0
GRADUAÇÃO PLENA                                   2.0
MESTRADO PROFISSIONAL                          1612.0
PIDRH                                             2.0
PROFESSOR/PESQUISADOR VISITANTE                 449.0
Professor de Educação Básica                    645.0
dtype: float64

In [49]:
doutorado = serie_bolsas['Doutorado']+serie_bolsas['DOUTORADO PLENO']+serie_bolsas['DOUTORADO SANDUÍCHE'] + serie_bolsas['Doutorado Sanduíche']
graduacao = serie_bolsas['GRADUAÇÃO SANDUÍCHE'] + serie_bolsas['Graduação Sanduíche'] + serie_bolsas['GRADUAÇÃO']+serie_bolsas['GRADUAÇÃO PLENA']
mestrado  = serie_bolsas['MESTRADO PROFISSIONAL']+serie_bolsas['MESTRADO']+serie_bolsas['Mestrado']+serie_bolsas['MESTRADO SANDUÍCHE']+serie_bolsas['Mestrado Sanduíche']
pos_doc = serie_bolsas['PÓS-DOUTORADO'] + serie_bolsas['Pós Doc']

In [50]:
data = [['doutorado',doutorado],['graduacao',graduacao],['mestrado',mestrado],['pos_doc',pos_doc]]
df = pd.DataFrame(data, columns = ['Tipo', 'Quantidade'])

In [51]:
df

        Tipo  Quantidade
0  doutorado     70065.0
1  graduacao    111501.0
2   mestrado      2212.0
3    pos_doc     14435.0